// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// TENOR GIF PICKER (WILL BE REPLACED BY KLIPY)
TENOR_API_KEY = __ENTER_HERE__
TENOR_CLIENT_KEY = __ENTER_HERE__

// KLIPY GIF PICKER
KLIPY_API_KEY = __ENTER_HERE__

// IMGUR IMAGE UPLOADS (OLD, NO LONGER USED)
IMGUR_CLIENT_ID = __ENTER_HERE__

// NOSTRCHECK.ME IMAGE UPLOADS (OLD, NO LONGER USED)
NOSTRCHECK_PUBLIC_API_KEY = __ENTER_HERE__

// NON-APP STORE VERSION, CHANGE TO YES TO INCLUDE FEATURES NOT ALLOWED ON APP STORE
NOSTUR_IS_DESKTOP = NO

// NIP-89 CLIENT TAG, REFERENCE FORMAT: 31990:<app1-pubkey>:<d-identifier>, EXAMPLE: 31990:9be0be0fc079548233231614e4e1efc9f28b0db398011efeecf05fe570e5dd33:1685868693432
NIP89_APP_NAME = Nostur
NIP89_APP_REFERENCE =

// VERSION - NEEDS TO BE UPDATED FOR EVERY NEW APP STORE RELEASE
APPSTORE_VERSION = 0.0.0

// BUILD NUMBER SHOWN IN SIDEBAR
CI_BUILD_NUMBER = FORK
