// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// TENOR GIF PICKER
TENOR_API_KEY = __ENTER_HERE__
TENOR_CLIENT_KEY = __ENTER_HERE__

// IMGUR IMAGE UPLOADS
IMGUR_CLIENT_ID = __ENTER_HERE__

// NOSTRCHECK.ME IMAGE UPLOADS
NOSTRCHECK_PUBLIC_API_KEY = __ENTER_HERE__

// NON-APP STORE VERSION, CHANGE TO YES TO INCLUDE FEATURES NOT ALLOWED ON APP STORE
NOSTUR_IS_DESKTOP = NO

// NIP-89 CLIENT TAG
NIP89_APP_REFERENCE = 