<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>nostur-hex</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nostur</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>nostur-nostr</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nostr</string>
			</array>
		</dict>
	</array>
	<key>IMGUR_CLIENT_ID</key>
	<string>$(IMGUR_CLIENT_ID)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>13.3</string>
	<key>NOSTRCHECK_PUBLIC_API_KEY</key>
	<string>$(NOSTRCHECK_PUBLIC_API_KEY)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
    <key>TENOR_API_KEY</key>
    <string>$(TENOR_API_KEY)</string>	
    <key>NIP89_APP_REFERENCE</key>
	<string>$(NIP89_APP_REFERENCE)</string>
	<key>TENOR_CLIENT_KEY</key>
	<string>$(TENOR_CLIENT_KEY)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>BackgroundColor</string>
		<key>UIImageName</key>
		<string>LaunchScreen</string>
	</dict>
	<key>NOSTUR_IS_DESKTOP</key>
	<string>$(NOSTUR_IS_DESKTOP)</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.jsonl</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Nostur Events</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.nostur.events</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>jsonl</string>
				</array>
				<key>public.mime-type</key>
				<array/>
			</dict>
		</dict>
	</array>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>To save a post screenshot to your Photo Library</string>
    <key>NSCameraUsageDescription</key>
    <string>To take pictures you want to post on nostr</string>
</dict>
</plist>
